@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-wokibi-border;
  }

  body {
    @apply bg-wokibi-bg text-white antialiased;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #2D2D3A;
    border-radius: 3px;
  }
}
